# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.opendb
*.aps
*.ncb

# Build artifacts
Debug/
Release/
x64/
x86/
ipch/
*.obj
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.exe

# Editors
.vscode/

# Outputs
bin/
obj/
out/
